.app{
    display: grid;
    place-items: center;
    background-image: linear-gradient(rgb(0, 61, 102),rgb(0, 77, 128));
    height: 100vh;
}
.app_body{
    display: flex;
    background-color: #dddbd1;
    height: 90vh;
    width: 90vw;
    margin-top: -50px;
    box-shadow: 0px 10px 50px dodgerblue;


}